<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Name>GEE Image Selector</Name>
  <AddInID>{ceae58c4-c44e-4edd-b8f4-1ba7d13b6b7d}</AddInID>
  <Description>Seletor de Imagens de Satelite e Composicoes de Bandas do Google Earth Engine para ArcGIS Desktop 10.8.2.</Description>
  <Version>1.3</Version>
  <Author>Joberth Gambati</Author>
  <Company>SEMA-MT</Company>
  <Date>24/09/2026</Date>
  <Targets>
    <Target name="Desktop" version="10.8" />
  </Targets>
  <AddIn language="PYTHON" library="gee_selector_addin.py" namespace="gee_selector_addin">
    <ArcMap>
      <Commands>
        <Button id="gee_selector_addin.btn_open" class="OpenGEESelectorButton" caption="Seletor GEE" category="GEE Tools" image="Images/icon.png" tip="Abre o Seletor de Imagens e Composicoes GEE" message="Abre a janela de selecao de imagens e composicoes do Google Earth Engine para carregar no TOC" />
      </Commands>
      <Toolbars>
        <Toolbar id="gee_selector_addin.toolbar" caption="GEE Image Selector" showInitially="true" autoArrangeButtons="true">
          <Items>
            <Item refID="gee_selector_addin.btn_open" />
          </Items>
        </Toolbar>
      </Toolbars>
    </ArcMap>
  </AddIn>
</ESRI.Configuration>
