<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Name>CGMA ArcGEE Explorer</Name>
  <AddInID>{ceae58c4-c44e-4edd-b8f4-1ba7d13b6b7d}</AddInID>
  <Description>CGMA ArcGEE Explorer - Integracao do Google Earth Engine para ArcGIS Desktop 10.8 (ArcMap).</Description>
  <Version>1.4</Version>
  <Author>Joberth Gambati</Author>
  <Company>SEMA-MT</Company>
  <Date>24/09/2026</Date>
  <Targets>
    <Target name="Desktop" version="10.8" />
  </Targets>
  <AddIn language="PYTHON" library="gee_selector_addin.py" namespace="gee_selector_addin">
    <ArcMap>
      <Commands>
        <Button id="gee_selector_addin.btn_open" class="OpenGEESelectorButton" caption="ArcGEE Explorer" category="CGMA ArcGEE Explorer" image="Images/icon.png" tip="Abre o CGMA ArcGEE Explorer" message="Abre o CGMA ArcGEE Explorer para carregar imagens e indices do Google Earth Engine" />
      </Commands>
      <Toolbars>
        <Toolbar id="gee_selector_addin.toolbar" caption="CGMA ArcGEE Explorer" showInitially="true" autoArrangeButtons="true">
          <Items>
            <Menu refID="gee_selector_addin.menu_main" />
            <Button refID="gee_selector_addin.btn_open" />
          </Items>
        </Toolbar>
      </Toolbars>
      <Menus>
        <Menu id="gee_selector_addin.menu_main" caption="ArcGEE Explorer" isRootMenu="false">
          <Items>
            <Button refID="gee_selector_addin.btn_open" />
          </Items>
        </Menu>
      </Menus>
    </ArcMap>
  </AddIn>
</ESRI.Configuration>
